{% extends "admin/change_form.html" %}

{% block after_field_sets %}
	{% if not original %}
		<h2>Page Tests are not yet Available</h2>
		<p>Please add a new page and ensure that the url you provide is correct</p>
	{% else %}
		<h2>Page Tests</h2>
		<!-- Implement jquery tabs -->
		<div id="tabs" class="clear">
			<ul>
				<li><a href="#tabs-1">Layout & Page Elements</a></li>
				<li><a href="#tabs-2">Builds</a></li>
			</ul>

			<!-- Layout & Page Elements -->
			<div id="tabs-1" class="clear">
				<h3>Layout & Page Elements</h3>
				<ul class="object-tools">
					<li><a class="ajax" data-target="div#overview_page" data-postsuccess="" href="#">Refresh Layout</a></li>
				</ul>
				<div class="module clear">
					<p>Using the clickable interface below, select page elements to test for layout and color consistency.</p>
					<p>By default, the entire page will be tested for layout and consistency, however the little tailor enables you to test individual page elements.</p>
					<iframe class="module aligned float-right" id="overview_target" src="{% url page-load_remote page_id=original.id %}" width="70%" height="600"></iframe>
					<ul id="selected_elements" class="float-left">
					</ul>
				</div>
			</div>


			<!-- Build Results -->
			<div id="tabs-2" class="clear">
				<h3>Builds</h3>
				<ul class="object-tools">
				<li><a class="ajax" data-target="div#overview_page" data-postsuccess="" href="#">Build now</a></li>
				</ul>
				<div class="module">
				<p>Here the user is able to view previous build results, as well as schedule a new build to run now.</p>
				<p>A navigable list of build logs [datetime, build_result, build_thumbnail]</p>
				<p>The list rows are clickable and when clicked will show a modal window with the selected build log as well as a larger version of the build_thumbnail</p>
				<p>build_thumbnail == a dual screenshot of the result_thumbnail next to the baseline_thumbnail, for historical comparison</p>
				</div>
			</div>

		</div><!-- End #tabs -->
		<div class="clear">&nbsp;</div>
		<style>
		#overview_target{
			width:70%;
			height:600px;
		}
		.hover{
			border:solid #c00 2px;
		}
		a.list_remove{
			float:right;
			clear:right;
			position:relative;
			right:-25px;
			border:solid #ccc 1px;
			background-color:#ddd;
			padding:2px 4px;
		}
		ul#selected_elements{
			width:300px;
		}
		ul#selected_elements li{
			height:25px;
			padding:3px 5px;
		}

		</style>

		<script type="text/javascript">
		(function($) {
	    $(document).ready(function($) {

			target_div = $('div#overview_page');

			$.fn.addLiToTestElementList = function(css_xpath){
				$('ul#selected_elements').append('<li class="module">'+ css_xpath +'&nbsp;<a class="list_remove" data-css_path="'+ css_xpath +'" href="#" title="Remove"><strong>x</strong></a></li>');
			};

			// append html by default **will need to modify this process when implementing test elements from database**
			$(this).addLiToTestElementList('html')

			$('#overview_target').load(function(){
				var $c = $('#overview_target').contents();

				$c.find('a').attr('href', "#");
				$c.delegate('a', 'hover', function(event) {
					event.preventDefault();
					return false;
				});

				$c.delegate('div,span,p,table,tr,td,ul,a', 'hover', function(event) {
				    $(this).css('border', 'solid #c00 1px')
				});
				$c.delegate('div,span,p,table,tr,td,ul,a', 'mouseleave', function(event) {
				    $(this).css('border', '')
				});
				$c.delegate('div,span,p,table,tr,td,ul,a', 'click', function(event) {
					log = 'id: ' + $(this).attr('id') + ' class:' + $(this).attr('class')
			        var path = [];
		            var id = $(this).attr("id");
		            var clazz = $(this).attr("class");
					var element = $(this).get(0).tagName.toLowerCase()
					path.push(element + (id.length > 0 ? "#" + id : (clazz.length > 0 ? ".": "") + clazz));

			        $.each($(this).parents(), function(index, value) {
			            id = $(value).attr("id");
			            clazz = $(value).attr("class");
			            element = $(value).get(0).tagName.toLowerCase()
			                path.push(element + (id.length > 0 ? "#" + id : (clazz.length > 0 ? ".": "") + clazz));
							// if we have an id element, break loop
							if (id.length > 0) {
								return false;
							}
			        });
					css_xpath = path.reverse().join(" ");

					// append li item to list
					$(this).addLiToTestElementList(css_xpath)

			        return false;
				});

				$('li a.list_remove').live('click', function(event) {
					event.preventDefault();
					css_path = $(this).attr('data-css_path');
					$c.find(css_path).css('border', '')
					$(this).parent().remove();// remove the containing LI
				});
				$('ul#selected_elements li').live('mouseover', function(event) {
					css_path = $(this).find('a.list_remove').attr('data-css_path');
					$c.find(css_path).css('border', 'solid #c00 1px')
				});
				$('ul#selected_elements li').live('mouseout', function(event) {
					css_path = $(this).find('a.list_remove').attr('data-css_path');
					$c.find(css_path).css('border', '')
				});

			});

		});
		})(django.jQuery);
		</script>
		<script type="text/javascript">(function($){jQuery = $.noConflict(true);})(django.jQuery);</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
		<script type="text/javascript">
		(function($) {
		$(document).ready(function($) {
			$( "div#tabs" ).tabs();
		});
		})(django.jQuery);
		</script>
	{% endif %}
	{{ block.super }}
{% endblock %}
