{% extends "admin/change_form.html" %}

{% block after_field_sets %}
	<h2>Select Page Elements to Test</h2>
	<div class="module aligned">
		<div id="overview_page">&nbsp;</div>
		<iframe class="module aligned" id="overview_target" src="{% url page-load_remote page_id=original.id %}" width="98%" height="600"></iframe>
	</div>
	<script>
	(function($) {

	    $(document).ready(function($) {

			target_div = $('div#overview_page');
			// $.ajax({ 
			// 	type: 'get',
			// 	url: '{% url page-load_remote page_id=original.id %}',
			// 	beforeSend: function(){
			// 	},
			// 	success: function(data, textStatus, XMLHttpRequest){
			// 		target_div.html( data );
			// 	}
			// });

		});
	})(django.jQuery);
	</script>
	<style>
	#overview_target{
		width:100%;
		height:600px;
	}
	</style>
	{{ block.super }}
{% endblock %}