{% extends "admin/change_form.html" %}

{% block after_field_sets %}
	<h2>Select Page Elements to Test</h2>
	<div class="module aligned">
		<div id="overview_page">&nbsp;</div>
		<iframe class="module aligned" id="overview_target" src="{% url page-load_remote page_id=original.id %}" width="98%" height="600"></iframe>
	</div>
	<script>
	(function($) {

	    $(document).ready(function($) {

			target_div = $('div#overview_page');

			$('#overview_target').load(function(){
				var $c = $('#overview_target').contents();
				
				$c.find('a').attr('href', "#");
				$c.delegate('a', 'hover', function() {
					event.preventDefault();
					return false;
				});

				//$c.find('body').prepend('<b>This is a test</b><br><b>Click here</b>');
				$c.delegate('div,span,p,table,tr,td,ul,a', 'hover', function() {
				    $(this).css('border', 'solid #c00 1px')
				});
				$c.delegate('div,span,p,table,tr,td,ul,a', 'mouseleave', function() {
				    $(this).css('border', '')
				});
				$c.delegate('div,span,p,table,tr,td,ul,a', 'click', function(event) {
					log = 'id: ' + $(this).attr('id') + ' class:' + $(this).attr('class')
			        var path = [];
		            var id = $(this).attr("id");
		            var clazz = $(this).attr("class");
					var element = $(this).get(0).tagName.toLowerCase()
					path.push(element + (id.length > 0 ? "#" + id : (clazz.length > 0 ? ".": "") + clazz));

			        $.each($(this).parents(), function(index, value) {
			            id = $(value).attr("id");
			            clazz = $(value).attr("class");
			            element = $(value).get(0).tagName.toLowerCase()
			                path.push(element + (id.length > 0 ? "#" + id : (clazz.length > 0 ? ".": "") + clazz));
							// if we have an id element, break loop
							if (id.length > 0) {
								return false;
							}
			        });
					$('div#overview_page').html(path.reverse().join(" "));
			        return false;
				});

			});
			// $.ajax({ 
			// 	type: 'get',
			// 	url: '{% url page-load_remote page_id=original.id %}',
			// 	beforeSend: function(){
			// 	},
			// 	success: function(data, textStatus, XMLHttpRequest){
			// 		target_div.html( data );
			// 	}
			// });

		});
	})(django.jQuery);
	</script>
	<style>
	#overview_target{
		width:100%;
		height:600px;
	}
	.hover{
		border:solid #c00 2px;
	}
	</style>
	{{ block.super }}
{% endblock %}